<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesion</a></li>
            </ul>
        </div>
    </div>
</nav>
  <div class="container">
    <h1 class="text-center">PANTALLA DE ADMINISTRADOR</h1>
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Lista de dueños</b></h2></div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Registrar dueño
                      </button>
                    </div>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Correo Electronico</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody>

                        <% dueños.forEach(elemento => { %>
                            <tr>
                                <td>
                                    <%= elemento.Id_usuario %>  
                                </td>
                                <td>
                                    <%= elemento.Nombre %>  
                                </td>
                                <td>
                                    <%= elemento.Apellido %>  
                                    </td>
                                <td>
                                    <%= elemento.DNI %>  
                                </td>
                                <td>
                                    <%= elemento.Correo %>  
                                </td>
                                <td>
                                    <%= elemento.Celular %>  
                                </td>

                            </tr>   
                        <% }) %>

 
                </tbody>
            </table>
        </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar Dueño</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/registrar/dueno" method="POST">
          <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" class="form-control" name="Nombre" required>
          </div>
          <div class="form-group">
            <label for="">Apellido</label>
            <input type="text" class="form-control" name="Apellido" required>
          </div>
          <div class="form-group">
            <label for="">DNI</label>
            <input type="number" class="form-control" name="DNI" required>
          </div>
          <div class="form-group">
            <label for="">Correo</label>
            <input type="email" class="form-control" name="Correo" required>
          </div>
          <div class="form-group">
            <label for="">Celular</label>
            <input type="number" class="form-control" name="Celular" required>
          </div>
          <div class="form-group">
            <label for="">Contraseña</label>
            <input type="password" class="form-control" name="Contraseña" required>
          </div>
          <button class="w-100 mb-2 mt-5 btn btn-lg rounded-4 btn-primary">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>
 