<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="../public/css/Csstablas.css">
<script src="../public/js/tabla.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Estacionamientos de: <b>Dueños</b></h2></div>
                    <div class="col-sm-4">
                        <a type="button" href="/estacionamiento" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>cap_auto</th>
                        <th>cap_moto</th>
                        <th>precioxhs_auto</th>
                        <th>precioxhs_moto</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% estacionamientos.forEach(elemento=> { %>
                    <tr>
                        <td><%= elemento.nombre %> </td>
                        <td><%= elemento.direccion %></td>
                        <td><%= elemento.cap_auto %></td>
                        <td><%= elemento.cap_moto %></td>
                        <td><%= elemento.precioxhs_auto %></td>
                        <td><%= elemento.precioxhs_moto %></td>
                        <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>
                        </td>
                    </tr>
                    <% }) %>     
                </tbody>
            </table>
        </div>
    </div>  